<h1>SIGN UP!</h1>
  <form action="<%= users_url %>" method="post">
    <label for="">email</label>
    <input type="text" name="user[:email]" value="">
    <label for="">password</label>
    <input type="text" name="user[:password]" value="">
    <input type="submit">
  </form>
